.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  padding-top: 40px;
  font-family: "Roboto Slab", serif;
}

.appBox {
  background-color: rgb(255, 224, 167);
  border-radius: 25px;
  margin:25px;
  padding: 25px;
}


.listSection {
  display: inline-block;
  text-align: left;
}
