.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  padding-top: 40px;
  font-family: "Roboto Slab", serif;
}

.input-button {
  background-color: #ffffff;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 5px;
}

.maincard {
  background-color: rgba(104, 225, 253, 0.3);
  display: block;
  margin: 0 auto;
}

.future-weather-section {
  padding: 30px;
}

.input-city {
  padding-top: 30px;
  padding-bottom: 30px;
}

.current-city-weather {
  font-size: 30px;
  text-align: center;
}

.current-day-time {
  font-size: 22px;
  text-align: center;
}

.current-weather-image {
  margin: 0 auto;
  display: block;
  width: 125px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.current-temperature {
  text-align: center;
  padding-top: 35px;
}

.current-temperature-value {
  font-size: 60px;
  text-align: left;
}

.current-units {
  font-size: 20px;
  position: relative;
  top: -28px;
  right: 8px;
  padding-left: 5px;
}

.current-units .active {
  text-decoration: none;
  font-weight: bold;
  color: black;
  cursor: default;
}

#fahrenheit,
#celsious {
  text-decoration: none;
}

.current-weather-description {
  font-size: 18px;
  text-align: center;
  padding-top: 35px;
}

.future-day {
  font-size: 26px;
  font-weight: normal;
  text-align: center;
}

.future-card {
  text-align: center;
}

.future-high {
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  color: #000000;
}

.future-low {
  font-size: 20px;
  text-align: right;
  opacity: 0.5;
  color: #000000;
}

.future-image {
  width: 65px;
  margin: 0 auto;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  text-align: center;
  padding-top: 10px;
}

.card-spacing {
  display: block;
  margin: 0 auto;
}